<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title>Display a map</title>
	<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
	<script src="../static/scripts/maplibre.js"></script>
</head>

<body style="margin: 0px; width: 100%; height: 100%">
	<a id="but" href="intent:http://10.42.0.1/map#Intent;end" target="_blank" style="background-color:red;width: 200px;height:200px;display: grid;place-content: center;text-decoration: none;color: white;font-weight: bold;font-size: 30px;text-transform: uppercase;/* overflow-wrap: normal; */border-radius: 50%;margin: auto auto;">Open map</a>
<script>
document.querySelector('#but').click();
</script>
</body>

</html>
