#slider_container {
	background-color: antiquewhite;
    position: absolute;
    bottom: 0px;
    height: 30%;
    width: 100%;
	overflow: auto;
}
#slider_container ul {
    height: 100%;
    margin: 0px;
	list-style-type: none;
	display: -webkit-box;
	position: relative;
	left: 0px;
	padding: 0px;
	transition: all 1s ease;
}
#slider_container ul li {
	background-color: white;
	border: solid 3px;
    height: 80%;
	width: 150px;
	opacity: 0%;
	margin: auto 12px;
	border-radius: 10px;
	display: grid;
	place-content: center;
	transition: all 0.4s ease;
	overflow: hidden;
}
#slider_container ul li:hover {
	transform: scale(1.1);
}