
.mapContainer {
  width: 70vmin;
  height: 70vmin;
  border-radius: 5px;
  margin: auto
  }
  .modal-content {
    width: 90vmin;
    height: 90vmin;
    border-radius: 5px;
    padding: 0px;
    overflow: hidden;
    margin: 0;
  }
  .modal-map-body {
    width: auto;
    height: auto;
  }